.about-box {
  background: rgba(38, 38, 38, 0.83);
  padding: 2% 8% 2% 8%;

  h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 57px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #EEEEEE;
}

  p {
    padding: 1% 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.81);
  }
}

.middle-image {
  width: 100%;
  height: 162px;

  img {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(100, 100, 100, 0.33), rgba(100, 100, 100, 0.33));
  }
}

.localisation-box {
  background: rgba(41, 41, 41, 0.9);
  padding: 2% 8% 2% 8%;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #EEEEEE;
  }

  p {
    padding: 1% 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.81);
    width: 84%;
  }

  iframe {
    width: 95%;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .about-box, .localisation-box {
    h2 {
      width: 40%;
      margin: 0 30% 0 30%;
      font-size: 45px;
      line-height: 57px;
    }

    p {
      padding: 1% 0 0 0;
      width: 40%;
      margin: 0 30% 0 30%;
      font-size: 25px;
      line-height: 40px;
    }

    iframe {
      padding: 1% 0 0 0;
      width: 38%;
      height: 450px;
      margin: 0 30% 0 30%;
    }
  }

  .middle-image{
    height: 338px;
    overflow: hidden;

    img {
      position: relative;
      height: auto;
      top: -420px;
      background: linear-gradient(0deg, rgba(72, 70, 70, 0.57), rgba(72, 70, 70, 0.57));
    }
  }
}