main {
  width: 100%;
  min-height: 85.7%;
  background: linear-gradient(0deg, rgba(55, 55, 55, 0.45), rgba(55, 55, 55, 0.45)), url(../img/cttSalle_auto_x2.jpg);

  .title-box {
    width: 100%;
    height: 150px;

    h1 {
      padding: 75px 0 0 10%;
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      color: #EEEEEE;
    }
  }

  section {
    .article-box {
      width: 85%;
      margin: 35px 0 3% 7.5%;
      padding: 5% 0 5% 0;
      background: rgba(34, 34, 34, 0.52);
      border-radius: 30px;

      img {
        border-radius: 5%;
        width: 90%;
        height: auto;
        margin: 0 5% 0 5%;
      }

      h3 {
        text-align: center;
        width: 95%;
        padding: 15px 2.5% 10px 2.5%;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #D0D0D0;
      }

      .read-article {
        margin: 0 29% 0 29%;
        width: 42%;
        height: 50px;
        background: rgba(130, 130, 130, 0.9);

        a {
          text-decoration: none;
          width: 10px;
          height: 20px;
          overflow: hidden;
          color: #DDDDDD;
          font-style: normal;
          font-size: 22px;
          font-variant: all-small-caps;
          text-align: center;
        }

        a:hover {
          color: #DDDDDD;
        }
      }

      .fb-widget {
        display: none;
      }
    }
  }

  /* Desktop */
  @media screen and (min-width: 768px) {
    header {
      height: 85.85px;
    }

    .title-box {
      height: 200px;

      h1 {
        font-size: 45px;
        padding-left: 17%;
      }
    }

    section {
      .article-box {
        width: 60%;
        margin: 2.5% 20%;
        padding: 3% 0;

        img {
          max-width: 85%;
          margin: 0 7.5%;
        }

        h3 {
          font-weight: 500;
          font-size: 50px;
          margin: 3% 0;
        }

        .read-article {
          height: 75px;
          a {
            font-size: 35px;
            text-align: center;
          }
        }
      }

      :first-child {
        margin-top: 0;
      }
    }

  }
}