.interclubs-box {
  background: rgba(38, 38, 38, 0.83);
  padding: 2% 8% 2% 8%;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #EEEEEE;
    width: 85%;
  }

  p {
    padding: 2.5% 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.81);
    width: 84%;
  }
}

.teams-box {
  background: #292929;
  padding: 2% 8% 2% 8%;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #EEEEEE;
  }

  p {
    padding: 2.5% 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #EEEEEE;
  }

  ul {
    padding: 0.5rem 0 0.5rem 0;
    list-style: inside;

    li {
      padding: 0 0 0 5%;
      height: 27px;
      margin: 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: rgba(238, 238, 238, 0.81);
    }
  }
}

.schedule-box {
  background: rgba(38, 38, 38, 0.83);
  padding: 2% 8% 2% 8%;
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #EEEEEE;
  }

  p {
    padding: 2.5% 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #EEEEEE;

    a{
      color: inherit;
      text-decoration: underline dotted;
    }
  }
}

@media screen and (min-width: 768px) {
  .interclubs-box, .teams-box, .schedule-box {
    h2 {
      width: 40%;
      margin: 0 30% 0 30%;
      font-size: 45px;
      line-height: 57px;
    }

    p {
      padding: 1% 0 0 0;
      width: 40%;
      margin: 0 30% 0 30%;
      font-size: 25px;
      line-height: 40px;
    }

    ul {
      width: 40%;
      margin: 0 30% 0 30%;

      li {
        padding: 16px;
        font-size: 25px;
        height: 40px;
      }
    }
  }
}