@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 56px;
  nav {
    z-index: 99;
  }
}

main {
  .header-image {
    width: 100%;
    height: 162px;

    img {
      width: 100%;
      height: 162px;
      background: linear-gradient(0deg, rgba(100, 100, 100, 0.33), rgba(100, 100, 100, 0.33));
    }
  }
}