{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Nouveau Stage{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <h1 class="m-4">Programmer un stage</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="my-2 btn btn-outline-primary">Programmer le match</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}