{% extends 'email/baseEmail.html.twig' %}
{% block body %}
    <p>
        {{ contact.message|raw }}
    </p>
    <p>
        <b>
            De: {{ contact.name}} ({{ contact.email }})
        </b>
    </p>
{% endblock %}