{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homePage.css') }}">
{% endblock %}

{% block body %}
<main>
    <!--Header-->
    <div class="header-image">
        <img src="{{ asset('img/tennis_de_table-3.jpg') }}" alt="">
    </div>
    <!--End Header-->
    <!--Login Mobile-->
    <div class="login">
        <div class="login-box">
            <h1 class="login-title my-3">Espace Membre:</h1>
            <a class="login-button my-2 mx-auto align-content-center">
                Se connecter
            </a>
        </div>
    </div>
    <!--End Login-->
    <!--Localisation Desktop-->
    <div class="localisation">
        <div class="localisation-box">
            <h2>lllllllllllllll</h2>
        </div>
    </div>
    <!--End Localisation-->
    <!--About-->
    <div class="about">
        <div class="about-box">
            <h2>A propos du ctt</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim tempus id iaculis ullamcorper dictum. Diam proin ipsum feugiat placerat enim ipsum morbi. Id convallis tempus suscipit viverra dictumst suscipit pellentesque sem. Lacus turpis lectus parturient egestas id eu accumsan. A augue senectus duis nec sed dictum neque. Leo vitae laoreet dictum vitae dictumst mi semper pellentesque. Sagittis lectus augue augue quis felis ut enim et. Massa erat eleifend amet ut.</p>
            <div class="about-more">
                <a>En savoir plus...</a>
            </div>
        </div>
    </div>
    <!--End About-->
</main>
{% endblock %}
