<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="FR">
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <title></title>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" style="margin: 0 auto;width: 750px;border: 1px solid #868686;font-family: Calibri, sans-serif;padding: 0;
                    border-collapse:collapse;">
            <!-- HEADER PART -->
            <tbody style="line-height: 0;font-size: 0;">
                <tr style="height: 100px;margin:0;padding:0;border:none;">
                    <td style="height: 100px;margin:0;padding:0;border:none;">
                            <img style="max-width: 100px;height: 100px;" src="cid:villette-logo" alt="Villette Charleroi CTT"/>
                    </td>
                    <td style="height:100px;width: 100%;padding: 0 0 0 1rem;margin:0;border: none;color: #db5252;font-weight: 900;font-size: 2.5rem;
                            font-family: sweet-sans-pro, Calibri, sans-serif;">
                        AF Royal Charleroi Villette (H001)
                    </td>
                </tr>
                <!-- MAIN PART -->
                <tr style="margin:0;padding:0;border:none;line-height: 1rem; font-size: 1rem;">
                    <td style="padding: 1.5rem;margin: 0;background: #F6F6F6;" colspan="2">
                        {% block body %}
                        {% endblock %}
                    </td>
                </tr>
                <!-- FOOTER PART -->
                <tr style="height: 25px;background: rgb(89, 89, 89);color: white;line-height: 1rem; font-size: 1rem;">
                    <td colspan="2" align="center">
                        AF Royal Charleroi Villette (H001) © {{ "now"|date("Y") }}. Tous droits réservés.
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
