{% extends 'email/baseEmail.html.twig' %}
{% block body %}
    <h1 style="margin-bottom: 2rem;">Félicitation !</h1>
    <p>
        Votre compte a été validé.
        <br><br>
    </p>
{% endblock %}
