{% extends 'baseEmail.html.twig' %}
{% block body %}
    <h2 style="margin-bottom: 2rem;">Récupération de mot de passe</h2>
    <p>
        Voici le lien de récupération de votre mot de passe.
        <br>
        <a href="http://127.0.0.1:8000/verif-account/{{ token }}">https://www.villette-charleroi.be/verif-account/{{ token }}</a>
        <br><br>
    </p>
{% endblock %}
