{% extends 'baseEmail.html.twig' %}
{% block body %}
    <h2 style="margin-bottom: 2rem;">Changement de mot de passe</h2>
    <p>
        Votre mot de passe a été changé, <b>{{ firstName }} {{ lastName }}</b>.
        <br><br><br>
        Si vous n'êtes pas à l'origine de ce changement, il est possible que quelqu'un ait accès à votre compte.
        <br><br>
        Nous vous conseillons de changer immédiatement votre mot de passe en utilisant "mot de passe oublié" sur la page
         de connexion.
        <br><br>
    </p>
{% endblock %}
