{% extends 'email/baseEmail.html.twig' %}
{% block body %}
    <h2 style="margin-bottom: 2rem;">Récupération de mot de passe</h2>
    <p>
        Voici le lien de récupération de votre mot de passe.
        <br>
        <a href="http://127.0.0.1:8000/recuperation-compte/reinisialisation/{{ resetToken.token }}">https://www.villette-charleroi.be//reset-password/reset/{{ resetToken.token }}</a>
        <br>
        <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <br><br>
    </p>
{% endblock %}
